    .forumContainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .forumSort {
            h1 {
                width: 100%;
                color: var(--melt);
                text-align: center;
            }
            height: 100%;
            min-height: 10%;
            max-height: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7px;
            -webkit-box-shadow: 0 0 3px var(--midnightH);
            box-shadow: 0 0 3px var(--midnightH);
            button {
                cursor: pointer;
                font-weight: 600;
                border-radius: 2px;
                width: 100%;
                background-color: inherit;
                font-size: 11px;
                color: var(--snow);
                border: none;
                height: 100%;
                background-color: var(--midnight);
                text-transform: uppercase;
                margin-right: 5px;
                &:last-child {
                    margin-right: 0px;
                }
                &:hover {
                    color: var(--candy);
                }
            }
            .forumButtonActive {
                background-color: var(--candy);
                &:hover {
                    color: inherit;
                }
            }
        }
        .forumPosts {
            display: flex;
            flex-direction: column;
            height: 100%;
            max-height: 85%;
            padding: 7px;
            .forumPostCard {
                display: flex;
                height: 100%;
                max-height: 20%;
                background-color: var(--midnightH);
                box-shadow: 0 0 3px var(--midnight);
                border-radius: 3px;
                padding: 7px;
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
                overflow: hidden;
                .forumPostCardImage {
                    height: 100%;
                    margin-right: 7px;
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
                .forumPostcardContent {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 100%;
                    a {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        .forumPostcardContentHeader {
                            margin-bottom: 14px;
                            h1 {
                                display: flex;
                                flex-direction: column;
                                font-size: 21px;
                                span {
                                    letter-spacing: 1px;
                                    color: var(--melt);
                                    font-size: 11px;
                                    font-weight: 400;
                                    letter-spacing: 1px;
                                    span {
                                        font-size: 13px;
                                        font-weight: 600;
                                        color: var(--candy);
                                    }
                                }
                            }
                        }
                        .forumPostcardContentBody {
                            p {
                                margin: 0px;
                                font-size: 13px;
                                color: var(--snow);
                            }
                        }
                    }
                    .forumPostcardContentFooter {
                        display: flex;
                        flex-direction: row;
                        color: var(--melt);
                        p {
                            font-family: "Lato", sans-serif;
                            letter-spacing: 1px;
                            color: var(--melt);
                            font-size: 11px;
                            font-weight: 400;
                        }
                        p:first-child {
                            margin-right: 21px;
                        }
                        p span:nth-child(1) {
                            margin: 0 2px;
                            font-size: 13px;
                            font-weight: 600;
                            color: var(--candy);
                        }
                    }
                }
                .forumPostCardStats {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-left: auto;
                    margin-right: 14px;
                    button {
                        font-size: 11px;
                        height: auto;
                        color: var(--melt);
                        background-color: var(--midnightL);
                        width: 35px;
                        height: 35px;
                        padding: 7px;
                        border-radius: 3px;
                        border: 2px solid var(--snow);
                        &:hover {
                            text-decoration: none;
                            cursor: pointer;
                            color: var(--snow);
                        }
                    }
                    .likeButtonActive {
                        background-color: var(--candy);
                        color: var(--snow);
                    }
                }
            }
        }
        .forumPagination {
            height: 100%;
            min-height: 5%;
            max-height: 5%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 3px var(--midnightH);
            a:first-child {
                margin-right: 10px;
            }
            button {
                border: none;
                font-size: 21px;
                color: var(--paint);
                background-color: transparent;
                height: 33px;
                cursor: pointer;
                &:disabled {
                    color: var(--melt);
                    cursor: not-allowed;
                    &:hover {
                        background-color: var(--midnight);
                        color: var(--melt);
                    }
                }
                &:hover {
                    color: var(--paintL);
                    transition: 0.3s;
                }
            }
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0px 14px;
                font-size: 11px;
                color: var(--melt);
                span {
                    margin: 0 3px;
                    font-weight: 600;
                    color: var(--paint);
                    font-size: 16px
                }
            }
        }
    }