.forumContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    // DES
    //padding: 7px;
    .forumSort {
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 3px $midnightH;
        box-shadow: 0 0 3px $midnightH;
        button {
            font-weight: 600;
            border-radius: 2px;
            width: 100%;
            background-color: inherit;
            font-size: 11px;
            color: $snow;
            border: none;
            height: 100%;
            background-color: $midnight;
            text-transform: uppercase;
            margin-right: 5px;
            &:last-child {
                margin-right: 0px;
            }
            &:hover {
                color: $candy;
            }
        }
        .forumButtonActive {
            background-color: $candy;
            &:hover {
                color: inherit;
            }
        }
    }
    .forumPosts {
        height: 90%;
        -webkit-box-shadow: 0 0 3px $midnightH;
        box-shadow: 0 0 3px $midnightH;
        padding: 7px;
        border-radius: 3px
    }
}