.landingsPage {
    //background-color: $midnight;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .landingsPageBody {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 95%;
        width: 100%;
        font-weight: 100;
        text-align: center;
        .landingsPageBodyContent {
            display: flex;
            flex-direction: column;
            //justify-content: center;
            align-items: center;
            a {
                margin: 0px;
                button {
                    background-color: $candy;
                    color: #ffffff;
                    border: none;
                    border-radius: 2px;
                    padding: 7px 21px;
                    font-weight: 400;
                    letter-spacing: 3px;
                    font-size: 17px;
                    cursor: pointer;
                    margin-bottom: 1.5px;
                    &:hover {
                        background-color: $candyL;
                        transition: 0.1s;
                        margin-top: 1.5px;
                        margin-bottom: 0px;
                    }
                }
            }
            h1 {
                font-size: 50px;
                word-spacing: 5px;
                max-width: 720px;
                margin-top: 50px;
            }
            p {
                color: $melt;
                max-width: 575px;
                font-size: 15px;
                font-weight: 400;
                margin: 20px 0;
            }
        }
        .landingsPageBodyIcons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            //img
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $melt;
                height: auto;
                width: 20%;
            }
        }
    }
    .landingsPageFooter {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5%;
        width: 100%;
        a {
            font-size: 11px;
            color: $melt;
            font-weight: 400;
            letter-spacing: 1px;
            &:hover {
                color: $candy;
                text-decoration: underline;
            }
        }
    }
    a {
        color: $candy;
        margin: 20px;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
            color: $candyL
        }
    }
}

.app {
    width: 100%;
    height: 100;
    .wrapper {
        z-index: -1000;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: $midnight;
        div {
            position: absolute;
            width: 60px;
            height: 60px;
            background-color: transparent;
            border: 7px solid $candy;
            &:nth-child(1) {
                top: 12%;
                left: 42%;
                animation: animate 10s linear infinite;
            }
            &:nth-child(2) {
                top: 35%;
                left: 82%;
                animation: animate 6s linear infinite;
                ;
            }
            &:nth-child(3) {
                top: 82%;
                left: 42%;
                animation: animate 12s linear infinite;
            }
            &:nth-child(4) {
                top: 93%;
                left: 82%;
                animation: animate 8s linear infinite;
                ;
            }
            &:nth-child(5) {
                top: 22%;
                left: 12%;
                animation: animate 10s linear infinite;
            }
            &:nth-child(6) {
                top: 53%;
                left: 1%;
                animation: animate 6s linear infinite;
                ;
            }
            &:nth-child(7) {
                top: 35%;
                left: 22%;
                animation: animate 8s linear infinite;
            }
            &:nth-child(8) {
                top: 20%;
                left: 42%;
                animation: animate 6s linear infinite;
                ;
            }
            &:nth-child(9) {
                top: 40%;
                left: 92%;
                animation: animate 4s linear infinite;
            }
            &:nth-child(10) {
                top: 60%;
                left: 62%;
                animation: animate 15s linear infinite;
                ;
            }
        }
    }
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

.terms,
.privacy {
    background-color: $midnight;
    height: 100%;
}