.settings {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: var(--midnight);
    .settingsBody {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        //padding: 7px;
    }
    h1 {
        color: var(--melt);
        font-size: 35px;
        padding: 7px;
        //height: 100%;
    }
    h2 {
        display: flex;
        justify-content: space-between;
        height: 100%;
        flex-direction: row;
        align-items: center;
        background-color: var(--midnightH);
        border: 1px solid var(--midnight);
        padding: 14px;
        border-radius: 3px;
        font-size: 21px;
        color: var(--snow);
        span {
            display: flex;
            flex-direction: column;
            &:nth-child(2) {
                display: flex;
                justify-content: flex-end;
            }
            select {
                display: block;
                font-size: 14px;
                color: var(--snow);
                padding: 7px 7px;
                /* useful when width is set to anything other than 100% */
                box-sizing: border-box;
                margin: 0;
                margin-left: auto;
                border: 1px solid var(--midnightH);
                box-shadow: 0 0 1px var(--midnightH);
                border-radius: 3px;
                appearance: none;
                background-color: var(--midnight);
                background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%272727%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, var(--midnight) 0%, var(--midnight) 100%);
                background-repeat: no-repeat, repeat;
                /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
                background-position: right .7em top 50%, 0 0;
                /* icon size, then gradient */
                background-size: .65em auto, 100%;
                &:focus {
                    border-color: var(--candy);
                }
            }
            span {
                font-weight: 400;
                font-size: 11px;
                color: var(--melt);
            }
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--melt);
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--snow);
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked+.slider {
        background-color: var(--candy);
    }
    input:focus+.slider {
        box-shadow: 0 0 1px var(--candy);
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
}