.settings {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    padding: 7px;
    background-color: $midnight;
    .settingsBody {
        width: 100%;
        height: 100%;
        padding: 7px;
    }
    h1 {
        color: $melt;
        font-size: 35px;
        padding: 7px;
    }
    h2 {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        background-color: $midnightH;
        border: 1px solid $midnight;
        padding: 14px;
        border-radius: 3px;
        font-size: 27px;
        color: $snow;
        span {
            display: flex;
            flex-direction: column;
            //margin-left: auto;
            span {
                font-weight: 400;
                font-size: 11px;
                color: $melt;
            }
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $melt;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $snow;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked+.slider {
        background-color: $candy;
    }
    input:focus+.slider {
        box-shadow: 0 0 1px $candy;
    }
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }
}