.feed {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    .feedNews {
        display: flex;
        flex-direction: column;
        background-color: var(--midnight);
        width: 75%;
        height: 100%;
        border-radius: 2px;
        margin-right: 7px;
        //padding: 21px;
        .feedNewsHeader {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 21px;
            border-bottom: 7px solid var(--midnightL);
            h1 {
                width: 100%;
                margin-right: 21px;
                color: var(--snow);
            }
            .newsButtonActive {
                background-color: var(--candy);
                &:hover {
                    background-color: var(--midnightL);
                }
            }
            .newsButtonDeactive {
                background-color: var(--midnightL);
                &:hover {
                    background-color: var(--candy);
                }
            }
            button {
                box-shadow: 0 0 1px var(--midnightH);
                border: none;
                width: 100%;
                max-width: 41px;
                border-radius: 50%;
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 21px;
                }
            }
        }
        .newsActive {
            background-color: var(--midnightH);
            width: 100%;
            height: 100%;
            padding: 14px 14px;
            box-shadow: 0 0 3px var(--midnightH);
            h2 {
                display: flex;
                flex-direction: column;
                margin-bottom: 21px;
                span {
                    margin-top: 7px;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 1.5px;
                    color: var(--melt);
                    span {
                        font-family: roboto slab;
                        font-weight: 600;
                        color: var(--paint);
                        font-size: 14px;
                        &:first-child {
                            color: var(--slate);
                            font-family: roboto mono;
                            font-weight: 600;
                        }
                    }
                }
            }
            p {
                color: var(--melt);
                font-size: 14px;
            }
        }
        .newsDeactive {
            display: none;
        }
    }
    .feedHistory {
        display: flex;
        flex-direction: column;
        background-color: var(--midnightH);
        box-shadow: 0 0 3px var(--midnightH);
        width: 25%;
        height: 100%;
        border-radius: 2px;
        padding: 7px;
        overflow: hidden;
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0px;
            margin: 0px;
            height: 100%;
            width: 100%;
            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 10%;
                padding: 0 7px;
                font-size: 11px;
                border-radius: 3px;
                text-transform: uppercase;
                color: var(--snow);
                background-color: var(--midnight);
                border-left: 7px solid var(--mystery);
                box-shadow: 0 0 2px var(--midnightH);
                span {
                    text-align: right;
                    font-size: 9px;
                    color: var(--slate);
                    font-family: roboto mono;
                    font-weight: 600;
                }
                &:not(:last-child) {
                    margin-bottom: 7px;
                }
            }
        }
    }
    .feedNotificationsEmpty {
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
        cursor: not-allowed;
        h2 {
            text-align: center;
            color: var(--melt);
            font-weight: 300;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}