        .friendlist {
            height: 100%;
            padding: 5px;
            box-sizing: border-box;
        }
        
        .friendlistCategory {
            h1 {
                background-color: $midnight;
                color: $melt;
                font-size: 11;
                margin: 0;
                &:hover {
                    cursor: pointer;
                    color: $candy;
                }
            }
        }
        
        .friendlistCard {
            background-color: $sand;
            display: flex;
            flex-direction: column;
            font-size: 11px;
            margin-bottom: 5px;
            img {
                width: 25px;
                height: 25px;
                border-radius: 5px;
            }
        }