.friendlist {
    height: 100%;
    padding: 7px;
    box-sizing: border-box;
    background-color: $midnightL;
}

.friendlistCategory {
    display: flex;
    flex-direction: column;
    h1 {
        box-shadow: 0 0 3px $midnightH;
        text-transform: uppercase;
        border-radius: 2px;
        padding: 5px;
        background-color: $midnight;
        color: $snow;
        font-size: 12px;
        margin: 0 0 5px;
        &:hover {
            cursor: pointer;
            span {
                color: $melt;
            }
        }
        span {
            float: right;
        }
    }
}

.friendlistCard {
    background-color: $midnight;
    font-size: 11px;
    margin-bottom: 5px;
    box-shadow: 0 0 3px $midnightH;
    padding: 7px;
    .friendlistCardImg {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2px;
        img {
            width: 25px;
            height: 25px;
        }
    }
    .friendlistCardUser {
        flex-grow: 3;
        margin: 0px;
        p {
            margin: 0px;
            font-size: 11px;
            &:first-child {
                letter-spacing: 1px;
                font-weight: 400;
                font-size: 13px;
                margin: 0px;
                color: $paint;
            }
            color: $melt;
        }
    }
    .friendlistCardStatus {
        flex-grow: 1;
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        .statusCircle,
        .statusCircleOffline {
            width: 100%;
            height: 100%;
            width: 5px;
            height: 5px;
            margin-top: 3px;
            border-radius: 1px;
            background-color: $slate;
        }
        .statusCircleOffline {
            background-color: $melt;
        }
        p {
            color: $melt;
            font-size: 9px;
            letter-spacing: 0.5px;
            margin: 0px;
        }
    }
    a {
        display: flex;
    }
}