    .gamesFooter {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 0px;
    }
    
    .gamesFooterButtons,
    .gamesPagination {
        display: flex;
        justify-content: flex-end;
        button {
            border: none;
            font-size: 21px;
            color: var(--paint);
            background-color: transparent;
            height: 33px;
            cursor: pointer;
            &:disabled {
                color: var(--melt);
                cursor: not-allowed;
                &:hover {
                    background-color: var(--midnight);
                    color: var(--melt);
                }
            }
            &:hover {
                color: var(--paintL);
                transition: 0.3s;
            }
        }
    }
    
    .gamesFooterButtons {
        button {
            border: 2px solid var(--melt);
            font-size: 21px;
            color: var(--melt);
            background-color: var(--midnightL);
            border-radius: 3px;
            height: 33px;
            font-size: 11px;
            min-width: 100px;
            &:hover {
                color: var(--snow);
                border-color: var(--snow);
                //background-color: var(--midnight);
                transition: 0.3s;
            }
        }
    }
    
    .gamesPagination {
        width: 100%;
        justify-content: center;
        margin-left: 100px;
        p {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 14px;
            font-size: 11px;
            color: var(--melt);
            span {
                margin: 0 3px;
                font-weight: 600;
                color: var(--paint);
                font-size: 16px
            }
        }
    }
    
    .gameRemoveButton {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        button {
            border: 2px solid var(--melt);
            border-radius: 20px;
            padding: 6px 20px;
            font-size: 11px;
            color: var(--melt);
            background-color: var(--midnightL);
            border-radius: 3px;
            min-width: 100px;
            text-align: center;
            &:hover {
                color: var(--snow);
                border-color: var(--snow);
                transition: 0.3s;
            }
        }
    }