.inbox {
    height: 100%;
    width: 100%;
    display: flex;
    //padding: 7px;
    border-radius: 3px;
    background-color: var(--midnight);
    box-shadow: 0 0 3px var(--midnightH);
}

.conversation {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .conversationEmpty {
        margin-top: 21px;
        font-size: 21px;
        font-weight: 600;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .conversationHeader {
        width: 100%;
        padding: 7px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--midnightH);
        color: var(--snow);
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 25px;
                height: 25px;
                margin-right: 14px;
            }
        }
        .conversationUserOffline {
            span {
                background-color: var(--melt);
            }
        }
        .conversationUserOnline {
            span {
                background-color: var(--slate);
            }
        }
        h1 {
            color: var(--melt);
            margin: 0px;
            font-size: 21px;
            span {
                color: var(--snow);
                margin: 0px 14px;
                border-radius: 3px;
                background-color: var(--paint);
                padding: 1px 21px;
                font-size: 17px;
                font-weight: 200;
                letter-spacing: 2px;
            }
        }
    }
}

.messagesFeed {
    height: 100%;
    background-color: var(--midnight);
    overflow-y: scroll;
    padding: 7px;
    ul {
        padding: 14px;
        list-style-type: none;
        margin: 0px;
        li {
            width: 75%;
            margin-bottom: 7px;
            padding: 7px;
            border-radius: 2px;
            display: flex;
            flex-direction: row;
            .messageIcon {
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    width: 25px;
                    height: 25px;
                    margin-right: 14px;
                }
            }
            .messageText {
                display: flex;
                flex-direction: column;
                p {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 1px;
                }
                span {
                    font-weight: 600;
                    color: var(--melt);
                    font-size: 9px;
                }
            }
        }
        .messagesent {
            display: flex;
            text-align: right;
            background-color: var(--paint);
            flex-direction: row-reverse;
            margin-left: auto;
            .messageIcon {
                img {
                    margin-left: 14px;
                    margin-right: 0px;
                }
            }
            .messageText {
                p {
                    font-size: 14px;
                    font-weight: 600;
                    margin-bottom: 1px;
                }
                span {
                    color: var(--midnightH);
                }
            }
        }
        .messagereceived {
            background-color: var(--midnightL);
        }
    }
}

.messageComposer {
    box-sizing: border-box;
    textarea {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        width: 100%;
        resize: none;
        border: solid 1px var(--midnight);
        color: var(--snow);
        background-color: var(--midnightH);
        border-radius: 2px;
        padding: 7px;
        &:focus {
            border-color: var(--candy);
        }
    }
}

.messagersList {
    flex: 2;
    overflow-y: scroll;
    border-left: 0.5px solid var(--midnightL);
    background-color: var(--midnightL);
    padding: 7px;
    h1 {
        color: var(--melt);
    }
    ul {
        list-style-type: none;
        padding-left: 0px;
        margin: 0px;
        width: 100%;
        li {
            color: var(--melt);
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 15px;
            border-radius: 3px;
            margin: 14px 0px;
            padding: 7px;
            letter-spacing: 1px;
            font-weight: 600;
            background-color: var(--midnight);
            cursor: pointer;
            div {
                display: flex;
            }
            img {
                margin-right: 14px;
                width: 15px;
                height: 15px;
                border-radius: 15px;
            }
        }
        li.selected {
            color: var(--snow);
            background-color: var(--paint);
        }
    }
}