/*
using the break points
 padding-bottom: 200%; // Default property, this will be applied to all screen sizes
  color: #FFF;          // Unless overriden below
  
  @include sm {         // 576px window width and more
    padding-bottom: 100%;
    color: #000;
  }
  
  @include md {         // 768px window width and more
    padding-bottom: 50%;
  }
  
  @include lg {         // 992px window width and more
    padding-bottom: 10%;
  }

  @include xl {         // 1200px window width and more
    padding-top: 20%;
    padding-bottom: 0;
    color: #1337;
  }
}
}*/

.accessNavigation {
  position: absolute;
}