.accessNavigation {
    width: 100%;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 11px;
    img {
        width: 65px;
        height: auto;
        fill: red !important;
        &:hover {
            color: $melt;
        }
    }
    a:first-child {
        margin: 20px 0 0 35px;
    }
    .loginButton {
        margin: 10px 30px 0 0;
        border: 2px solid $melt;
        border-radius: 3px;
        padding: 6px 20px;
        &:hover {
            background-color: $midnightL;
        }
    }
    a {
        color: $melt;
        &:hover {
            text-decoration: none;
            color: $snow;
            border-color: $snow;
        }
    }
}