.accessNavigation {
    width: 100%;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: 13px;
    img {
        width: 100px;
        height: auto;
    }
     :first-child {
        margin: 20px 0 0 30px;
    }
     :last-child {
        margin: 20px 30px 0 0;
        border: 3px solid $snow;
        border-radius: 20px;
        padding: 6px 20px;
    }
    a:hover {
        text-decoration: none;
        color: $melt;
        border-color: $melt;
    }
}