    // abstracts 
    @import 'abstracts/variables';
    @import 'abstracts/functions';
    @import 'abstracts/mixins';
    //@import 'vendors/bootstrap';
    //@import 'vendors/jquery-ui';
    //@import 'base/reset';
    @import 'base/typography';
    @import 'layout/navigation';
    @import 'layout/grid';
    @import 'layout/header';
    @import 'layout/footer';
    @import 'layout/sidebar';
    @import 'layout/sidenav';
    @import 'layout/friendlist'; //@import 'layout/forms';
    @import 'components/buttons';
    //@import 'components/carousel';
    //@import 'components/slider';
    //@import 'pages/home';
    @import 'pages/_landingspage';
    @import 'pages/_access';
    @import 'pages/_dashboard';
    //@import 'themes/theme';
    //@import 'themes/admin';
    html {
        font-family: 'Raleway', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Lato', sans-serif;
    }
    
    a {
        color: inherit;
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
    }
    
    div {
        box-sizing: border-box;
    }