    .notificationCard {
        .notificationContent {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: var(--midnightL);
            font-size: 11px;
            color: var(--snow);
            padding: 7px 3px;
            border-left: 5px solid var(--paint);
            border-radius: 1px;
            p {
                display: flex;
                justify-content: center;
                margin: 0 3px;
            }
            svg {
                color: var(--slate);
            }
            a {
                svg {
                    color: var(--melt);
                }
            }
        }
        .slider {
            height: 1px;
            margin-bottom: 6.3px;
            border-radius: 3px;
            background-color: var(--paint);
            width: 100%;
            -webkit-transition: width 10s ease;
            transition: width 10s ease;
        }
    }