$form-title-font-sizes: ( null: 28px, sm: 35px, md: 43px, lg: 55px, xl: 65px, );
$form-p-font-sizes: ( null: 10px, sm: 11px, md: 12px, lg: 13px, xl: 14px, );
.postForm {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.postFormHeader {
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        @include font-size($form-title-font-sizes);
        letter-spacing: 5px;
    }
    ul {
        padding: 0;
        list-style-type: none;
        margin: 0px;
    }
    &:first-child>p {
        margin-top: 10px;
        color: var(--melt);
        font-size: 13px;
        b {
            color: var(--candy);
        }
    }
}

.postFormBody {
    padding: 7px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &,
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        p,
        label {
            @include font-size($form-p-font-sizes);
            color: var(--melt);
            margin: 0;
        }
        label {
            font-weight: 600;
            text-transform: uppercase;
            margin-top: 15px;
            letter-spacing: 0.5px;
        }
        input,
        button {
            margin: 5px 0 5px;
            background-color: var(--candy);
            color: var(--snow);
            border: none;
            border-radius: 3px;
            padding: 15px;
            font-weight: 600;
        }
        input {
            color: vr(--snow);
            border-radius: 3px;
            background-color: var(--midnight);
            border: 1px solid var(--midnightH);
            &:focus {
                border-color: var(--candy);
            }
        }
        button {
            background-color: var(--candy);
            color: var(--snow);
            border: none;
            border-radius: 3px;
            padding: 15px;
            font-weight: 600;
            //margin-top: 22px;
            &:hover {
                background-color: var(--candyL);
            }
        }
    }
}

.postFormUpload {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .postFormImage {
        height: 50px;
        width: auto;
    }
    input {
        width: 100%;
    }
    button {
        width: 50%;
    }
}