            .postsboard {
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            
            .posts {
                display: flex;
                box-sizing: border-box;
                color: $melt;
                height: 90%;
            }
            
            .postCard {
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                overflow: hidden;
                padding: 7px;
                border-radius: 2px;
                background-color: $midnight;
                box-shadow: 0 0 3px $midnight;
                max-width: 25%;
                &:not(:last-child) {
                    margin-right: 7px;
                }
                .postcardImg {
                    max-height: 50%;
                    overflow: hidden;
                    margin-bottom: 7px;
                    img {
                        margin-bottom: 0px;
                        width: 100%;
                        height: auto;
                        border-radius: 2px;
                    }
                    cursor: pointer;
                }
                .postcardContent {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    margin-top: auto;
                    .postcardContentHeader {
                        h1 {
                            color: $snow;
                            font-size: 15px;
                            height: 35px;
                            overflow: hidden;
                        }
                    }
                    .postcardContentBody {
                        p {
                            margin: 0px;
                            font-size: 13px;
                            color: $snow;
                        }
                        p:nth-child(1) {
                            color: $melt;
                            font-size: 11px;
                            margin-bottom: 7px;
                        }
                    }
                    .postcardContentFooter {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        flex-grow: 1;
                        font-size: 9px;
                        color: $candy;
                        font-weight: 600;
                        text-transform: uppercase;
                        p:nth-child(1) {
                            color: $melt;
                        }
                    }
                }
                .postcardStats {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 7px;
                    button {
                        font-size: 11px;
                        height: auto;
                        color: $melt;
                        background-color: $midnightL;
                        width: 35px;
                        height: 35px;
                        padding: 7px;
                        border-radius: 3px;
                        border: 2px solid $snow;
                        &:hover {
                            text-decoration: none;
                            cursor: pointer;
                            color: $snow;
                        }
                    }
                    .likeButtonActive {
                        background-color: $candy;
                        color: $snow;
                    }
                }
            }
            
            .postsFooter {
                height: 10%;
                display: flex;
                padding: 7px 0px;
            }
            
            .postsPagination,
            .postsFooterButtons {
                display: flex;
                justify-content: flex-end;
                flex: 2;
                button {
                    border: 2px solid $melt;
                    border-radius: 20px;
                    padding: 6px 20px;
                    font-size: 11px;
                    color: $melt;
                    background-color: $midnightL;
                    border-radius: 5px;
                    min-width: 100px;
                    height: 33px;
                    &:hover {
                        color: $snow;
                        border-color: $snow;
                        transition: 0.3s;
                    }
                }
            }
            
            .postsFooterButtons {
                flex: 1;
            }
            
            .postsPagination {
                p {
                    margin: 0px 14px;
                    font-size: 11px;
                    color: $melt;
                    span {
                        font-weight: 600;
                        color: $paint;
                        font-size: 21px
                    }
                }
            }