.reviewsBoard {
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $melt;
    overflow: hidden;
    .emptyReviews {
        width: 100%;
        margin-top: 70px;
        text-align: center;
    }
}

.reviewCard {
    flex: 0 0 49.5%;
    display: flex;
    flex-direction: row;
    background-color: $midnight;
    border-radius: 3px;
    padding: 7px;
    box-shadow: 0 0 3px $midnightH;
    margin-bottom: 7px;
    .reviewCardImage {
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        img {
            border-radius: 3px;
            max-height: 50px;
            height: 100%;
            width: auto;
        }
        .reviewCardContentHeader {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            h1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: $paint;
                font-size: 21px;
                span {
                    font-size: 9px;
                    color: $melt;
                }
                margin: 0px 14px;
            }
            p {
                font-size: 14px;
                color: $snow;
            }
        }
        .reviewCardContentBody {
            margin-left: auto;
            p {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                font-weight: 600;
                letter-spacing: 1px;
            }
            .reviewCardScoreRed,
            .reviewCardScoreGreen {
                color: $snow;
                border-radius: 3px;
                box-shadow: 0 0 3px $midnightH;
            }
            .reviewCardScoreRed {
                background-color: $candy;
            }
            .reviewCardScoreGreen {
                background-color: $slate;
            }
        }
    }
}

.reviewsFooter {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 0px;
}

.reviewsHeader,
.reviewsPagination {
    display: flex;
    justify-content: flex-end;
    a:first-child {
        margin-right: 10px;
    }
    button {
        border: none;
        font-size: 21px;
        color: $paint;
        background-color: transparent;
        height: 33px;
        cursor: pointer;
        &:disabled {
            color: $melt;
            cursor: not-allowed;
            &:hover {
                background-color: $midnight;
                color: $melt;
            }
        }
        &:hover {
            color: $paintL;
            transition: 0.3s;
        }
    }
}

.reviewsHeader {
    button {
        border: 2px solid $melt;
        font-size: 21px;
        color: $melt;
        background-color: $midnightL;
        border-radius: 5px;
        height: 33px;
        font-size: 11px;
        min-width: 100px;
        &:hover {
            color: $snow;
            border-color: $snow;
            //background-color: $midnight;
            transition: 0.3s;
        }
    }
}

.reviewsHeaderActive {
    button {
        color: $snow;
        border-color: $snow;
        background-color: $candy;
    }
}

.reviewsPagination {
    width: 100%;
    justify-content: center;
    margin-left: 200px;
    p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 14px;
        font-size: 11px;
        color: $melt;
        span {
            margin: 0 3px;
            font-weight: 600;
            color: $paint;
            font-size: 16px
        }
    }
}